.inputContainer {
   display: flex;
   align-items: center;
   width: 100%;
   z-index: 0;
   max-width: 48.75rem;
}

.inputText {
   resize: none;
   height: 48px;
   line-height: 16px;
   width: 100%;
   padding: 16px 16px;
   margin-right: 0.5rem;
   margin-left: 0.5rem;
   font-size: 16px;
   outline: none;
   border: none;
   border-radius: 1rem;
   background: var(--app-text1);
   color: var(--app-text2);
}

.inputBtn {
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100%;
   width: 2.5rem;
   border: none;
   border-radius: 8px;
   font-size: 1.5rem;
   background: none;
   color: var(--app-text1);
   transition: all 0.3s ease;

   &:hover:not(.disabled) {
      transform: scale(1.2);

      &::after {
         content: attr(tooltip);
         position: absolute;
         left: 0;
         bottom: 100%;

         display: inline-block;
         color: var(--app-text1);
         background: var(--sidebar-bgr);
         padding: 0.2rem 0.5rem;
         border: 1px solid var(--app-text1);
         border-radius: 0.2rem;
         font-size: 0.6rem;
         opacity: 0.9;
         white-space: nowrap;
      }
   }
}

.loading {
   width: 100%;
   transition: all 0.3s ease;
}

.disabled {
   opacity: 0.5;
   pointer-events: none;
}
