.header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   text-align: center;
   width: 100%;
   font-size: 1.6rem;
   font-weight: 600;
   max-width: 48.75rem;
   z-index: 0;
   transition: all 0.3s ease-in-out;
}

.menuBtn {
   display: none;
   align-items: center;
   justify-content: flex-start;
   width: 4rem;

   & button {
      border: none;
      background: none;
      font-size: 1.6rem;
      color: var(--app-text1);
   }

   // Mobile < 768px
   @media screen and (max-width: 48rem) {
      display: flex;
   }
}

.switchWrap {
   position: relative;
   display: flex;
   align-items: center;
   justify-content: flex-end;
   width: 4rem;
   height: 1.3rem;
   transition: all 0.3s ease-in-out;

   & > div:nth-child(1) {
      height: 100%;
      width: 3.2rem;
      overflow: hidden;
      margin: 0 !important;
      border-radius: 0.5rem;
      transition: all 0.3s ease;

      &:hover {
         transform: scale(1.1);
         & + div {
            display: inline-block;
         }
      }
   }
}

.tooltip {
   position: absolute;
   right: 0;
   top: calc(100% + 50%);
   transform: scale(1.2);

   display: none;
   color: var(--app-text1);
   background: var(--sidebar-bgr);
   padding: 0.2rem 0.5rem;
   border: 1px solid var(--app-text1);
   border-radius: 0.2rem;
   font-size: 0.6rem;
   opacity: 0.9;
   white-space: nowrap;
   animation: tooltips 0.3s ease;
}

.piston {
   width: 0;
   height: 0;
   transition: all 0.3s ease-in-out;
}

.switchBtn {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100%;
   width: 100%;
   font-size: 0.8rem;
   cursor: pointer;
   user-select: none;

   &:nth-child(2) {
      background: var(--app-text1);
      color: var(--app-text2);
   }

   &:nth-child(3) {
      background: linear-gradient(45deg, #f44336, magenta);
      background: var(--app-text2);
      color: var(--app-text1);
   }
}

@keyframes tooltips {
   from {
      top: calc(100% + 32%);
      transform: scale(1);
   }
   to {
      top: calc(100% + 50%);
      transform: scale(1.2);
   }
}
