.sidebar {
   // display: none;
   position: fixed;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   max-width: 80%;
   background: #333;
   z-index: 1;
}

.closeBtn {
   position: absolute;
   top: 0;
   right: 0;
   width: 3rem;
   height: 3rem;
   font-size: 1.3rem;
   background: none;
   border: none;
   color: #fff;
}

.title {
   line-height: 3rem;
   font-size: 1.6rem;
   font-weight: 800;
}

.sidebarBody {
   height: 100%;
}

.label {
   display: block;
   font-size: 1rem;
}

.selectModel {
   width: 80%;
   font-size: 1rem;
   border-radius: 0.5rem;
   padding: 0.8rem 0.5rem;
}

.themeWrap {
   width: 100%;
   max-height: 10rem;
   padding: 1rem;
   border-radius: 0.5rem;
   background: #fff;
   overflow-y: scroll;
}

.sampleTheme {
   position: relative;
   height: 2.5rem;
   width: 100%;
   background-color: #ccc;
   border-radius: 0.5rem;

   & > span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
   }

   &:not(:last-child) {
      margin-bottom: 0.7rem;
   }
}

.userBlock {
   width: 100%;
   position: absolute;
   bottom: 0;
}

.userWrap {
   display: flex;
   align-items: center;
   gap: 0.5rem;
   transition: all 0.3s ease-in-out;
   border-top-left-radius: 0.5rem;
   border-bottom-left-radius: 0.5rem;
   cursor: pointer;

   &:hover {
      background-color: #eee;
      color: #333;
   }
}

.avatar {
   width: 2.3rem;
   border-radius: 0.5rem;
}

.collapseBtn {
   width: 1rem;
   height: 1rem;
   background: none;
   color: inherit;
   font-size: 1rem;
   transition: all 0.2s ease;
   transform: rotate(180deg);
   margin-left: auto;
   margin-bottom: -3px;

   &.active {
      transform: rotate(0deg);
   }
}

.collapseUserContent {
   max-height: 0;
   width: 100%;
   font-size: 1rem;
   margin: 0.6rem 0 0 0rem;
   transition: all 0.3s ease-in-out;
   & div {
      padding: 0.6rem 1rem;
      width: 100%;
      border-radius: 0.2rem;
      transition: all 0.3s ease-in-out;

      &:hover {
         background: #eee;
         cursor: pointer;
         color: #333;
      }
   }

   &.active {
      max-height: 5rem;
   }
}
