.sidebar {
   --sidebar-padding: 1rem;

   position: fixed;
   top: 0;
   bottom: 0;
   left: 0;
   display: flex;
   flex-direction: column;
   width: var(--sidebar-size);
   background: var(--sidebar-bgr);

   // Tablet 768px - 1024px
   @media screen and (max-width: 64rem) {
      // position: fixed;
   }

   // Mobile < 768px
   @media screen and (max-width: 48rem) {
      left: calc(-1 * var(--sidebar-size));
      right: 0;
      max-width: var(--sidebar-size);
      width: 80%;
      opacity: 0.5;
      transition: all 0.4s ease;

      z-index: 1;
      &.active {
         left: 0;
         opacity: 1;
      }
   }
}

.closeBtn {
   display: none;
   position: absolute;
   top: 1rem;
   right: 0;
   width: 3rem;
   height: 3rem;
   font-size: 1.3rem;
   background: none;
   border: none;
   color: #fff;

   // Mobile < 768px
   @media screen and (max-width: 48rem) {
      display: block;
   }
}

.title {
   display: none;
   padding: 1rem var(--sidebar-padding);
   line-height: 3rem;
   font-size: 1.6rem;
   font-weight: 800;

   // Mobile < 768px
   @media screen and (max-width: 48rem) {
      display: block;
   }
}

// Body
.sidebarBody {
   display: flex;
   flex-direction: column;
   gap: 0.5rem;
   height: 100%;
   padding: var(--sidebar-padding);
   padding-top: 2rem;

   // Mobile < 768px
   @media screen and (max-width: 48rem) {
      padding-top: var(--sidebar-padding);
   }
}

.label {
   display: block;
   font-size: 1rem;
}

// Select Models
.selectModel {
   max-width: calc(var(--sidebar-size) - var(--sidebar-padding));
   width: 100%;
   font-size: 1rem;
   border-radius: 0.4rem;
   padding: 0.8rem 0.5rem;
}

.groupByWrap {
   display: flex;
   justify-content: flex-end;
   max-width: calc(var(--sidebar-size) - var(--sidebar-padding));
   margin-bottom: 1.5rem;

   & i {
      font-size: 0.8rem;
      color: #2196f3;
      margin-right: 0.1rem;
   }

   & select {
      border-radius: 1rem;
      padding: 0 0.2rem;
   }
}

// Select Themes
.themeWrap {
   --theme-gap: 0.5rem;
   max-width: calc(var(--sidebar-size) - var(--sidebar-padding));
   width: 100%;
   max-height: 10.8rem;
   overflow-y: scroll;
   margin-bottom: 1.5rem;

   // Mobile < 280px
   @media screen and (max-width: 17.5rem) {
      max-height: 12rem;
   }
}

// Max Token
.maxTokenWrap {
   --max-token-height: 2.5rem;
   --max-token-gap: 0.3rem;

   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: var(--max-token-gap);
   max-width: 100%;
   width: 14rem;
   height: var(--max-token-height);
   border-radius: 0.2rem;
   overflow: hidden;
   margin-bottom: 1.5rem;
}

.maxTokenInput {
   width: calc(100% - 2 * var(--max-token-height) - 2 * var(--max-token-gap));
   height: 100%;
   font-size: 1.1rem;
   padding: 0 0.5rem;
   border: none;
   outline: none;
   text-align: center;

   &::-webkit-inner-spin-button,
   &::-webkit-outer-spin-button {
      appearance: none;
      -webkit-appearance: none;
      margin: 0;
   }

   & {
      -moz-appearance: textfield;
   }
}

.maxTokenBtn {
   background: rgb(60, 213, 213);
   height: var(--max-token-height);
   width: var(--max-token-height);
   color: #fff;
}

// Temperature
.temperatureWrap {
   display: flex;
   justify-content: space-between;
   align-items: center;
   max-width: 100%;
   width: 14rem;
   margin-bottom: 1.5rem;
}

.temperatureInput {
   flex: 1;
   height: 0.6rem;
   -webkit-appearance: none;
   appearance: none;
   outline: none;
   border-radius: 1rem;
   background: #fff;
   cursor: pointer;

   &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 1rem;
      height: 1rem;
      border-radius: 50%;
      background: #3cd5d5;
   }
}

.temperature {
   font-size: 1.1rem;
   text-align: center;
   width: 2.5rem;
}

// Amount
.amountWrap {
   --amount-height: 2.5rem;

   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 0.3rem;
   max-width: 100%;
   width: 14rem;
   height: var(--amount-height);
   color: #333;
   margin-bottom: 1.5rem;
   border-radius: 0.2rem;
   overflow: hidden;
   font-size: 1.1rem;
}

.amount {
   background: #fff;
   height: var(--amount-height);
   line-height: var(--amount-height);
   text-align: center;
   flex: 1;
}

.amountBtn {
   background: rgb(60, 213, 213);
   height: var(--amount-height);
   width: var(--amount-height);
   color: #fff;
}
