* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Open Sans', sans-serif;
}

::-webkit-scrollbar {
   display: none;
}

button {
   cursor: pointer;
   border: none;
   outline: none;
}

label {
   cursor: pointer;
}

select {
   cursor: pointer;
   border: none;
   outline: none;
}

.app {
   --sidebar-size: 18rem;
   --sidebar-bgr: #333;
   --app-bgr: #121212;
   --app-btn-bgr: #3cd5d5;
   --app-text1: #fff;
   --app-text2: #333;

   position: relative;
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   padding: 1.5rem 1rem;
   margin: auto;
   background: var(--app-bgr);
   z-index: 0;
   transition: all 0.5s ease-in-out;

   color: var(--app-text1);
   margin-left: var(--sidebar-size);

   // Mobile < 768px
   @media screen and (max-width: 48rem) {
      margin-top: 3rem;
      height: calc(100vh - 3rem);
      margin-left: 0;
   }
}

.gradient1 {
   position: absolute;
   width: 316px;
   height: 238px;
   top: 0px;
   left: 0;
   filter: blur(246px);
   z-index: 0;
   transition: all 0.5s ease-in-out;
}

.gradient2 {
   position: absolute;
   width: 139px;
   height: 353px;
   top: 0px;
   right: 0px;
   filter: blur(309px);
   z-index: 0;
   transition: all 0.5s ease-in-out;
}

.gradient3 {
   position: absolute;
   width: 200px;
   height: 238px;
   bottom: 0px;
   left: 0px;
   filter: blur(223px);
   z-index: 0;
   transition: all 0.5s ease-in-out;
}

.gradient4 {
   position: absolute;
   width: 200px;
   height: 238px;
   bottom: 0px;
   right: 0px;
   filter: blur(223px);
   z-index: 0;
   transition: all 0.5s ease-in-out;
}
